/* -------------------------------------------- 
   GENERAL SETUP ------------------------------
   -------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------------------------------------- 
   START.JS COMPONENT -------------------------
   -------------------------------------------- */

/* -------------------------------------------- 
   EDITOR.JS COMPONENT ------------------------
   -------------------------------------------- */

/* -->GENERAL SETUP --------------------------- */

.container {
    width: 900px;
    height: 480px;
    background-color: grey;
    display: grid;
    grid-template-columns: 1fr 420px;
    grid-template-rows: 300px 1fr 65px;
}

.div1 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dotted black;
}

.div2 {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
    background-color: beige;
    border: 1px dotted black;
}

.div3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 1;
    grid-row: 2 / 3;
    border: 1px dotted black;
}

.div4 {
    grid-column: 1 / 1;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dotted black;
}

.div5 {
    grid-column: 2 / 2;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px dotted black;
}

/* -->CANVAS ---------------------------------- */

.canvas-frame {
    width: 400px;
    height: 210px;
    overflow: hidden;
}

.canvas-frame canvas {
    transform: translateY(-55px);
}

/* -->TOOLS ----------------------------------- */

.buttons {
    margin-left: 40px;
}

.buttons img {
    height: 25px;
    width: 25px;
}

.div4 input {
    margin-right: 25px;
}

.div5 button {
    margin-right: 40px;
}

.brush-size-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    width: 100px;
    height: 100px;
    border: 1px dotted black;
    background-color: whitesmoke;
}

.brush-size {
    background-color: #000000;
    border-radius: 50%;
}

.picker {
    margin-left: 40px;
}

/* -------------------------------------------- 
   APP.JS COMPONENT ---------------------------
   -------------------------------------------- */
