/* -------------------------------------------- 
   GENERAL SETUP ------------------------------
   -------------------------------------------- */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: aqua;
}

/* -------------------------------------------- 
   START.JS COMPONENT -------------------------
   -------------------------------------------- */

/* -------------------------------------------- 
   EDITOR.JS COMPONENT ------------------------
   -------------------------------------------- */

/* -------------------------------------------- 
   APP.JS COMPONENT ---------------------------
   -------------------------------------------- */
